flows/AIA_Process_Approval_Response.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Chatter_Approved</name>
        <label>Chatter Approved</label>
        <locationX>1319</locationX>
        <locationY>4426</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Unlock_the_BRF_record</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>brfRecordOwner</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterApproveMsg</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ChatterReject</name>
        <label>ChatterReject</label>
        <locationX>1639</locationX>
        <locationY>4424</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Unlock_the_BRF_record</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>brfRecordOwner</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterRejectMsg</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Unlock_the_BRF_record</name>
        <label>Unlock the BRF record</label>
        <locationX>1488</locationX>
        <locationY>4554</locationY>
        <actionName>AIA_BRFSubmitArcApprovalCtrlExtension</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>brfIds</name>
            <value>
                <elementReference>BRFRecordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Set_All_Responses_Approved_to_False</name>
        <label>Set All Responses Approved to False</label>
        <locationX>1058</locationX>
        <locationY>3994</locationY>
        <assignmentItems>
            <assignToReference>allResponsesAccepted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_the_approval_response_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_All_Responses_Received_to_False</name>
        <label>Set All Responses Received to False</label>
        <locationX>714</locationX>
        <locationY>3994</locationY>
        <assignmentItems>
            <assignToReference>allResponsesReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_the_approval_response_records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_all_responses_accept</name>
        <label>Are all responses accept?</label>
        <locationX>1456</locationX>
        <locationY>4138</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Committee_Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allResponsesAccepted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_BRF_as_Approved</targetReference>
            </connector>
            <label>Committee Accepted</label>
        </rules>
        <rules>
            <name>Committee_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allResponsesAccepted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_BRF_as_Rejected</targetReference>
            </connector>
            <label>Committee Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_all_responses_been_received</name>
        <label>Have all responses been received?</label>
        <locationX>1162</locationX>
        <locationY>3865</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>All_Respones_Received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allResponsesReceived</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_BRF_Fields</targetReference>
            </connector>
            <label>All Respones Received</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_response_accepted</name>
        <label>Is response accepted?</label>
        <locationX>842</locationX>
        <locationY>4141</locationY>
        <defaultConnector>
            <targetReference>Loop_over_the_approval_response_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Response_is_not_Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>appRespRec.Response__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Accept</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_All_Responses_Approved_to_False</targetReference>
            </connector>
            <label>Response is not Accepted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_response_recieved</name>
        <label>Was response recieved?</label>
        <locationX>382</locationX>
        <locationY>3995</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Response_was_received</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>appRespRec.Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accept</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>appRespRec.Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_response_accepted</targetReference>
            </connector>
            <label>Response was received</label>
        </rules>
        <rules>
            <name>Response_was_not_recieved</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>appRespRec.Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>appRespRec.Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_All_Responses_Received_to_False</targetReference>
            </connector>
            <label>Response was not recieved</label>
        </rules>
    </decisions>
    <description>Process the approval response records that are assciated with a BRF.  This flow will be called via process builder.</description>
    <formulas>
        <description>The message to send when the BRF is approved.</description>
        <name>ChatterApproveMsg</name>
        <dataType>String</dataType>
        <expression>&apos;The Benefit Request Form &apos; + {!brfName} + &apos; under Opportunity &apos; + {!OpptyName} + &apos; has been approved by ARC.  &apos; +
&apos;Opportunity: &apos; + {!OpptyLink} + &apos;, &apos; +
&apos;Benefit Request Form: &apos; + {!BRFLink}</expression>
    </formulas>
    <formulas>
        <description>The message to send when the BRF is rejected.</description>
        <name>ChatterRejectMsg</name>
        <dataType>String</dataType>
        <expression>&apos;The Benefit Request Form &apos; + {!brfName} + &apos; under Opportunity &apos; + {!OpptyName} + &apos; has been rejected by ARC.  &apos; +
&apos;Opportunity: &apos; + {!OpptyLink} + &apos;, &apos; +
&apos;Benefit Request Form: &apos; + {!BRFLink}</expression>
    </formulas>
    <interviewLabel>AIA_Arc_Approval_Response {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AIA_Process_Approval_Response</label>
    <loops>
        <name>Loop_over_the_approval_response_records</name>
        <label>Loop over the approval response records</label>
        <locationX>840</locationX>
        <locationY>3866</locationY>
        <assignNextValueToReference>appRespRec</assignNextValueToReference>
        <collectionReference>ApprovalResponses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Was_response_recieved</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Have_all_responses_been_received</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_BRF_Fields</name>
        <label>Get BRF Fields</label>
        <locationX>1454</locationX>
        <locationY>3864</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Oppty_Fields</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BRFRecordId</elementReference>
            </value>
        </filters>
        <object>Benfit_Request_Form__c</object>
        <outputAssignments>
            <assignToReference>BRFLink</assignToReference>
            <field>BRF_Link__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OpptyLink</assignToReference>
            <field>BRF_Opp_Link__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>brfRecordOwner</assignToReference>
            <field>CreatedById</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>brfName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OpptyId</assignToReference>
            <field>Opportunity__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Oppty_Fields</name>
        <label>Get Oppty Fields</label>
        <locationX>1457</locationX>
        <locationY>4006</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_all_responses_accept</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpptyId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>OpptyName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Approval_Response_records</name>
        <label>Retrieve Approval Response records</label>
        <locationX>841</locationX>
        <locationY>3724</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_the_approval_response_records</targetReference>
        </connector>
        <filters>
            <field>Benefit_Request_Form__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BRFRecordId</elementReference>
            </value>
        </filters>
        <object>Approval_Response__c</object>
        <outputReference>ApprovalResponses</outputReference>
        <queriedFields>Response__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Mark_BRF_as_Approved</name>
        <label>Mark BRF as Approved</label>
        <locationX>1317</locationX>
        <locationY>4279</locationY>
        <connector>
            <targetReference>Chatter_Approved</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BRFRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AIA_Approval_Status__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ARC_Approval_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ARC_Approval_Status__c</field>
            <value>
                <stringValue>Approved by Committee</stringValue>
            </value>
        </inputAssignments>
        <object>Benfit_Request_Form__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Mark_BRF_as_Rejected</name>
        <label>Mark BRF as Rejected</label>
        <locationX>1638</locationX>
        <locationY>4282</locationY>
        <connector>
            <targetReference>ChatterReject</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BRFRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AIA_Approval_Status__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ARC_Approval_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ARC_Approval_Status__c</field>
            <value>
                <stringValue>Rejected by Committee</stringValue>
            </value>
        </inputAssignments>
        <object>Benfit_Request_Form__c</object>
    </recordUpdates>
    <startElementReference>Retrieve_Approval_Response_records</startElementReference>
    <status>Active</status>
    <variables>
        <description>A flag to indicate if all the responses were approved.</description>
        <name>allResponsesAccepted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>A flag to indicate if all responses have been recieved.</description>
        <name>allResponsesReceived</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>An approval response record that is associated with the BRF.</description>
        <name>appRespRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Approval_Response__c</objectType>
    </variables>
    <variables>
        <description>The approval response records associated to the BRF.</description>
        <name>ApprovalResponses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Approval_Response__c</objectType>
    </variables>
    <variables>
        <description>A URL link to the BRF</description>
        <name>BRFLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The name of the BRF</description>
        <name>brfName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The ID of the BRF Record that has been submitted for approval.</description>
        <name>BRFRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The owner of the BRF record</description>
        <name>brfRecordOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The ID of the related Opportunity.</description>
        <name>OpptyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>A URL link to the Opportunity</description>
        <name>OpptyLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The name of the Opportunity</description>
        <name>OpptyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
