flows/update_IDcard_field.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>update IDcard field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>update IDcard field</label>
    <processType>Flow</processType>
    <recordUpdates>
        <name>field_update_to_fire_workflow</name>
        <label>field update to fire workflow</label>
        <locationX>446</locationX>
        <locationY>107</locationY>
        <connector>
            <targetReference>success_msg</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_msg</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ViD1</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>sent_to_approval__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ID_Card__c</object>
    </recordUpdates>
    <screens>
        <name>Error_msg</name>
        <label>Error msg1</label>
        <locationX>433</locationX>
        <locationY>234</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>msg1</name>
            <fieldText>The ID Card could not be submitted for approval. Please verify the ID Card meets all the criteria below:
•	The ID Card contains at least one product
•	If CareFirst is not producing the ID Card, at least one vendor must be added
•	The ID Card has not been previously submitted for approval</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>success_msg</name>
        <label>success msg</label>
        <locationX>680</locationX>
        <locationY>114</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>successmsg</name>
            <fieldText>Your application is sent for approval. Click Finish button on the right.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>field_update_to_fire_workflow</startElementReference>
    <status>Active</status>
    <variables>
        <name>ViD</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ViD1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
